.page {
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  background-color: #2A2C2F;
  color: #fff;
  padding-top: 28px;
  min-width: 320px;
}

@media screen and (max-width: 767px) {
  .page {
    padding-top: 16px;
  }
}
