.photo-grid {
  width: 92.5%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(284px, 1fr));
  gap: 16px;
  padding-top: 92px;
}

@media screen and (max-width: 1279px) {
  .photo-grid {
    width: 90.625%;
    gap: 14px;
  }
}
