.lead__picture-caption {
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

@media screen and (max-width: 1023px) {
  .lead__picture-caption {
    margin-left: 3.125%;
  }
}
