.footer__services {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

@media screen and (max-width: 767px) {
  .footer__services {
    flex-direction: column;
    margin-bottom: 48px;
  }
}
