.header {
  width: 92.5%;
  max-width: 1184px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .header {
    width: 90.625%;
  }
}

@media screen and (max-width: 1023px) {
  .header {
    width: 93.75%;
  }

}

@media screen and (max-width: 767px) {
  .header {
    width: 90%;
  }
}

