.place__text {
  grid-area: text;
  font-size: 18px;
  line-height: 1.63;
}

@media screen and (max-width: 1023px) {
  .place__text {
    font-size: 16px;
  }
}

@media screen and (max-width: 424px) {
  .place__text {
    width: 90%;
  }
}

