.intro {
  width: 76.875%;
  padding-top: 92px;
}

@media screen and (max-width: 1279px) {
  .intro {
    width: 90.625%;
  }
}

@media screen and (max-width: 1023px) {
  .intro {
    width: 93.75%;
    padding-top: 88px;
  }
}
