.place {
  display: grid;
  grid-template-columns: 115fr 121fr;
  grid-template-areas:
    "title info"
    "image text";
  column-gap: 40px;
  row-gap: 48px;
}

@media screen and (max-width: 1279px) {
  .place {
    grid-template-columns: 55fr 57fr;
    column-gap: 32px;
  }
}
